body {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
  background-color: rgb(237, 226, 248);
}

h1 {
  text-align: center;
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dotted rgb(195, 194, 194);
}

.city:last-child {
  border: 0;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgb(103, 101, 101);
}
